<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./../css/output.css" />
    <link href="/dist/output.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <!-- brand log -->
  <body class="py-[72px]">
    <div
      class="h-screen pt-[72px] flex flex-col items-center px2 justify-center text-center"
    >
      <div className="py-5">
        <img src="../assets/svgs/paygo.svg" alt="" class="my-[36px]" />
      </div>
      <!-- brand log -->
      <!-- man on table svg -->
      <img
        src="../assets/svgs/thirdIllustration.svg"
        alt=""
        class="mb-[70px]"
      />
      <!--end of man on table svg -->
      <!-- Text Div -->
      <div>
        <h1 class="font-bold lg:text-xl">Get Paid Anywhere</h1>
        <p class="text-[11px] mt-[17px] lg:text-base">
          Send Customized Invoices to get paid quickly.
        </p>
      </div>
      <!-- End of Text Div -->
      <!-- dots div -->
      <!-- <div className=" flex justify-center py-6">
            <span
              className="w-4 h-4 mx-1 rounded-full border  border-blue-300"
            ></span>
            <span
              className="w-4 h-4 mx-1 rounded-full border border-blue-300"
            ></span>
            <span
              className="w-4 h-4 mx-1 rounded-full border bg-blue-300 border-blue-300"
            ></span>
          </div> -->
      <div class="flex justify-center gap-3 my-12">
        <span class="w-4 h-4 mx-1 rounded-full border border-blue-300"></span>
        <span class="w-4 h-4 mx-1 rounded-full border border-blue-300"></span>
        <span class="w-4 h-4 mx-1 rounded-full border border-blue-300"></span>
      </div>
      <!--end of dots div -->
      <!-- create account and sign in div -->
      <div
        class="flex flex-col text-center font-semibold items-center py-6 gap-4 text-gray-50"
      >
        <a href="" class="w-[211px] bg-blue-500 py-3 px-10 rounded-2xl"
          >Create Account</a
        >
        <a
          href=""
          class="border border-blue-500 w-[211px] rounded-2xl text-blue-500 py-3 px-10"
          >Sign In</a
        >
      </div>
    </div>
  </body>
  <!-- end of create account and sign in div -->
</html>
